{% extends "base.html" %}
{% block title %}APPLY{% endblock %}
{% block head %}
<!-- start-form -->
<script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
<script src="/static/js/jquery.form-validator.min.js"></script>
<!-- end-form -->
{% endblock %}
{% block main %}
    <!--start-contact-->
    <div class="map">
        <div class="container">
            <div class="map-top heading">
                <h1>APPLY TODAY</h1>
            </div>
            <div class="map-bottom">
                <div class="col-md-6 welcome-left">
                    You can change your life today and experience all that the world has to offer in an exciting and different part of the world. Please fill out the Application form behind. After your application is received we will email you with further information on how to get started. 
                    <p></p>
                    Please be sure to have the following items ready for submission: 
                    <p></p> 
                    - Resume
                    <p></p> 
                    - Recent Photograph
                    <p></p> 
                    - Copy of College Diploma
                    <p></p> 
                    - Copy of ID Page From Your Passport
                    <p></p> 
                    After all of this is received we will schedule a phone or personal interview to further review your application. 
​                   <p></p>
                    Thank you for applying. We look forward to working with you!
                </div>
                <div class="col-md-2 services-left"></div>
                <div class="col-md-4 services-left">
                        <img src="/static/images/free.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!--end-contact-->
    <!--start-contact-->
    <div class="contact">
        <div class="container">
            <div class="contact-top heading"></div>
            <div class="contact-bottom">
                <div class="contact-left">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="col-md-6">
                            <h3>Name</h3>
                            {{ form.first_name.errors }}
                            {{ form.first_name }}
                            {{ form.last_name.errors }}
                            {{ form.last_name }}
                            <h3>Address</h3>
                            {{ form.address_1.errors }}
                            {{ form.address_1 }}
                            {{ form.address_2.errors }}
                            {{ form.address_2 }}
                            {{ form.city.errors }}
                            {{ form.city }}
                            {{ form.state.errors }}
                            {{ form.state }}
                            {{ form.zip_code.errors }}
                            {{ form.zip_code }}
                            {{ form.country.errors }}
                            {{ form.country }}
                        </fieldset>
                        <fieldset class="col-md-6">
                            <h3>Email</h3>
                            {{ form.email.errors }}
                            {{ form.email }}
                            <h3>Phone Number</h3>
                            {{ form.phone.errors }}
                            {{ form.phone }}
                            <h3>Experiences</h3>
                            {{ form.experiences.errors }}
                            {{ form.experiences }}
                            <h3>Resume</h3>
                            <input type="filepicker" data-fp-apikey="Acgn1KbapSO6jrUmthcrkz" data-fp-mimetypes="*/*" data-fp-container="modal" onchange="$('#{{ form.added_file_url.id_for_label }}').attr('value',event.fpfile.url);">
                            {{ form.added_file_url }}
                            <input type="submit" value="SUBMIT" style="margin-left: 50px">
                        </fieldset>
                    </form> 
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <!--end-contact-->
{% endblock %}
        {% block javascript %}
        <!-- start-form -->
        <script>

          $.validate({
            modules : 'location',
            onModulesLoaded : function() {
              $('#country').suggestCountry();
              $('#state').suggestState();
            }
          });

        </script>
        {% endblock %}
