<!DOCTYPE html>
<html>
<head>
<title>BEIJING TEACH | INDEX</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Beijing, Beijing Teach, China, Teach English, Teach English in Beijing, Teach English in China, Teach in China, esl jobs beijing, esl jobs china, teach esl in beijing, teach esl in china, tefl beijing, tefl china" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<link rel="shortcut icon" href="/static/images/icon.ico" type="image/x-icon"/>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!-- end-smoth-scrolling -->
</head>
<body>
	<!--start-header-->
	<div class="header" id="home">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="{% url 'index' %}"><img src="/static/images/logo.png" alt="" /></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'index' %}" class="hvr-bounce-to-top">Home <span class="sr-only">(current)</span></a></li>
					<li><a href="{% url 'about' %}" class="hvr-bounce-to-top">About</a></li>
					<li><a href="{% url 'experience' %}" class="hvr-bounce-to-top">Experience</a></li>
					<li><a href="{% url 'china' %}" class="hvr-bounce-to-top">China</a></li>
					<li><a href="{% url 'accommodations' %}" class="hvr-bounce-to-top">Accommodations</a></li>
					<li><a href="{% url 'contact' %}" class="hvr-bounce-to-top">Contact</a></li>
				</ul>
				<div class="clearfix"></div>
			</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</div>
	<!--end-header-->
	<!--start-fbsdk-->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1052447271440435";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<!--end-fbsdk-->
	<!--start-banner-->
	<div class="banner">
		<div class="container">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="banner-top">
								<h1>About Beijing Teach</h1>
								<h2>Full-Service English Teacher Recruiter</h2>
								<p>We provide teachers with great teaching jobs throughout Beijing and are here to help before and after your arrival in China. To qualify for one of our teaching positions, you must be energetic, patient, and love working with children. We prefer candidates who possess a bachelor’s degree or have considerable teaching experience.</p>
								<div class="bnr-btn">
									<a href="#" class="hvr-shutter-out-horizontal">Read More</a>
								</div>
							</div>
						</li>
						<li>
							<div class="banner-top">
								<h1>What is it like to teach in Beijing</h1>
								<h2>Everyday is an adventure and never boring</h2>
								<p>Working with children and teaching them English as second language is one of the most unique life experiences a person can have. A common saying among our teachers, "There's never a dull day living and working in China as an English teacher."</p>
								<div class="bnr-btn">
									<a href="#" class="hvr-shutter-out-horizontal">Read More</a>
								</div>
							</div>
						</li>
						<li>
							<div class="banner-top">
								<h1>Change your life today</h1>
								<h2>We look forward to working with you!</h2>
								<p>You can change your life today and experience all that the world has to offer in an exciting and different part of the world. Please fill out the Application form to the left. After your application is received we will email you with further information on how to get started. </p>
								<div class="bnr-btn">
									<a href="apply.html" class="hvr-shutter-out-horizontal">Read More</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<!--end-banner-->
	<!--FlexSlider-->
	<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" />
	<script defer src="/static/js/jquery.flexslider.js"></script>
	<script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
	<!--End-slider-script-->	
	<!--start-provide-->
	<div class="provide">
		<a href="#">
			<div class="col-md-4 provide-left provide-one">
				<h5></h5>
				<h3>MAKE A DIFFERENCE </h3>
				<p>Learn more about Beijing Teach as we strive to make a difference. </p>
				<p>Lets educate China together.</p>
			</div>
		</a>
		<a href="experience.html">
			<div class="col-md-4 provide-left provide-two">
				<h5></h5>
				<h3>THE EXPERIENCE </h3>
				<p>What is it like to teach in Beijing? </p>
				<p>Learn about all of the wonderful things China has to offer.</p>
			</div>
		</a>
		<a href="apply.html">
			<div class="col-md-4 provide-left provide-tre">
				<h5></h5>
				<h3>APPLY NOW! </h3>
				<p>Join us as we change young lives while educating them on the English language.</p><p></p>
			</div>
		</a>
		<div class="clearfix"></div>
	</div>
	<!--end-provide-->
	<!--start-welcome-->
	<div class="welcome">
		<div class="container">
			<div class="welcome-top">
				<div class="col-md-6 welcome-left">
					<h3>Our Mission</h3>
					<h4>We provide comprehensive compensation packages.</h4>
					<p>In any situation where a teacher is reasonably in need, you will have a strong support system to lean on.</p>
					<div class="w-btn">
						<a href="#" class="hvr-shutter-out-horizontal">Read More</a>
					</div>
				</div>
				<div class="col-md-6 welcome-left">
					<h3>How We Work?</h3>
					<h4>We will try our best to accommodate your preference</h4>
					<p>Current demand in China is greatest for kindergarten and early childhood development. Please let us know if you have a strong preference for working with older students, and we will try our best to accommodate you.</p>
					<div class="w-btn">
						<a href="#" class="hvr-shutter-out-horizontal">Read More</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-welcome-->
	<!--start-join-->
	<div class="join">
		<div class="container">
			<div class="join-main">
				<div class="col-md-3 join-left">
					<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					<h4>Work hours</h4>
					<p>Typically, teachers will have multiple classes throughout the day, each lasting between 15 and 30 minutes.</p>
				</div>
				<div class="col-md-3 join-left">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<h4>Easy transition</h4>
					<p>You will receive temporary housing with many other new teachers where you'll go through an orientation on life in China.</p>
				</div>
				<div class="col-md-3 join-left">
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
					<h4>Life in Beijing</h4>
					<p>Beautiful days here in Beijing! We're just clowning around with these kids! Come to Beijing! Apply today to change your life!</p>
				</div>
				<div class="col-md-3 join-left">
					<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					<h4>Competitive salaries</h4>
					<p>Our teachers have very strong purchasing power and are paid well above the average Chinese persons salary.</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-join-->
	<!--start-news-->
	<div class="news">
		<div class="container">
			<div class="news-top">
				<div class="col-md-8 news-left">
					<div class="news-heading">
						<h3>TESTIMONIALS</h3>
					</div>
					<div class="news-bottom">
						<div class="news-one">
							<div class="news-one-left">
								<img src="/static/images/n-1.jpg" alt="" />
							</div>
							<div class="news-one-right">
								<h4>Smooth transition</h4>
								<p>"When I decided to go to China to teach, I didn't have a clue where to start. BeijingTeach answered all my questions and helped me through the entire process, making it as easy as possible. I had enough to think and worry about without having to handle all the details. Before I knew it, I was in Beijing, had a fun job, met a lot of friends and having a great time.  They made the move and transition incredibly smoother than I anticipated and have immediately helped me with any problems I've encountered"</p>
								<p>- Max A. (Denver, CO)</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="news-one">
							<h4>A new direction of life</h4>
							<p>"After graduating from George Washington University, I wasn’t sure what direction I wanted to take my life in. I wanted to do something exciting and adventurous and I ultimately decided to go to Beijing to teach English. I didn’t know anything about what it’s like to live and work in China, and BeijingTeach really made the move over here as easy-going as possible. They took care of everything for me; set me up with a visa, a great job, and spacious apartment. I have traveled extensively throughout Asia and I now feel as if the world is my oyster, not to mention that I save a good chunk of change every month."</p>
							<p>- Alex Brotman (Boston, MA)</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 news-right">
					<div class="news-heading">
						<h3>News</h3>
					</div>
					<div class="news-btm">
						<div class="fb-page" data-href="https://www.facebook.com/BeijingTeach" data-width="350" data-height="650" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/BeijingTeach"><a href="https://www.facebook.com/BeijingTeach">BeijingTeach</a></blockquote></div></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-news-->
	<!--start-footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<div class="col-md-4 footer-left">
					<span class="glyphicon glyphicon-map-marker map-marker" aria-hidden="true"></span>
					<p>BeijingTeach.com, <span>38 St. Marks Place Roslyn,</span> NY 11577.</p>
				</div>
				<div class="col-md-4 footer-left">
					<span class="glyphicon glyphicon-phone map-marker" aria-hidden="true"></span>
					<p>+1 516 535 9236</p>
				</div>
				<div class="col-md-4 footer-left">
					<p class="footer-class">© 2015 Beijing Teach. All Rights Reserved. </p>
					<ul>
						<li><a href="http://www.facebook.com/BeijingTeach"><span class="fb"></span></a></li>
						<li><a href="http://www.twitter.com/BeijingTeach"><span class="twit"></span></a></li>
						<li><a href="#"><span class="rss"></span></a></li>
						<li><a href="#"><span class="ggl"></span></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--end-footer-->
</body>
</html>
