{% extends "dashboard/base.html" %}

{% block main %}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <form method="POST">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class={% if forloop.last %}"form-inline"{%else%}"form-group"{%endif%}>
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if forloop.last %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {% endif %}
                    </div>
                    {% endfor %}

                    {{ form.non_field_errors }}

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
