{% extends "dashboard/base.html" %}

{% block style %}
{{ block.super }}
<style>
    .thumbnail {
        height: 350px;
        overflow: auto;
    }
    .thumbnail img {
        height: 220px;
    }
    .caption, .modal-body, .modal-footer {
        text-align: center;
    }
    .modal-body img {
        max-width: 570px;
    }
</style>
{% endblock %}

{% block main %}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12">
                <h3 class="ghj">Images</h3>
            </div>

            <div class="col-lg-3">
                <div class="thumbnail">
                    <img id="img-upload" src="/static/images/upload.png">
                    <div class="caption">
                        <hr>
                        <input id="input-upload" type="filepicker" data-fp-apikey="ANXk2hzB0TUfODjaxKHWKz" data-fp-mimetypes="image/*" data-fp-container="modal" data-fp-multiple="true" onchange="save_img_urls(event.fpfiles)">
                    </div>
                </div>
            </div>

            {% for s in images %}
            <div class="col-lg-3">
                <div class="thumbnail">
                    <img class="uploaded-img" src="{{ s.url }}">
                    <hr>
                    <div class="caption">
                        <h3>Position</h3>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <!-- popup -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Image</h4>
                </div>
                <div class="modal-body">
                    <img><p><br><code></code></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block foot_js %}
{{ block.super }}
<script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
<script>
    function parse_img_urls(imgs) {
        var out='';
        for(var i=0; i < imgs.length; i++) {
            out += imgs[i].url;
            out += '\n';
        };
        return out;
    }

    function save_img_urls(imgs) {
        var failed_msg = "Upload failed! Please refresh page and try again."
        var request = $.ajax({
            method: 'POST',
            url: "{% url 'dashboard:new_images' %}",
            data: {"urls": parse_img_urls(imgs)}
        })
        request.done(function(msg) {
            if (msg === 'success') {
                window.location.reload();
            }
            else {
                alert('Failed on:\n\n' + msg + '\n\nPlease send this message to admin!');
            }
        });
        request.fail(function(jqXHR, textStatus) {
            alert(failed_msg);
        });
    };

    /* active popup */
    $('.thumbnail .uploaded-img').click(function(ev) {
        ev.preventDefault();
        $('#myModal').modal();
        $('#myModal .modal-body img').attr("src", ev.currentTarget.currentSrc);
        $('#myModal .modal-body code').html(ev.currentTarget.currentSrc);
    });

    /* active upload */
    $('#img-upload').click(function(ev) {
        ev.preventDefault();
        $('.fp__btn').click();
    });
</script>
{% endblock %}
