{% extends "dashboard/base.html" %}

{% block main %}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="distracted">
                    <h3 class="ghj">Messages</h3>
                    {% for m in messages %}
                    <div class="well">
                        <h4>{{ m.subject }}</h4>
                        <p>
                            <em>{{ m.visitor.name }}({{ m.visitor.email }})</em> said:<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ m.content }}
                        </p>
                        <br>
                        <footer>At {{ m.created }}</footer>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
