{% extends "dashboard/base.html" %}

{% block main %}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="distracted">
                    <h3 class="ghj">Messages</h3>
                    {% for m in messages %}
                    <div class="well">
                        <h4>{{ m.subject }}</h4>
                        <p>
                            <em>{{ m.visitor.name }}({{ m.visitor.email }})</em> said:<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;{{ m.content }}
                        </p>
                        <p><br>At {{ m.created }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block foot_js %}
{{ block.super }}
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
{% endblock %}
