{% extends "dashboard/base.html" %}

{% block main %}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="ghj">Pages</h3>
                <h2><a class="label label-primary" href="{% url 'dashboard:new_page' %}">New</a></h2>
                <br>
                <table class="table table-bordered">
                    <thead>
                        <td>Pub_date</td>
                        <td>Route</td>
                        <td>Subject</td>
                        <td>Action</td>
                    </thead>
                    <tbody>
                        {% for p in pages %}
                        <tr>
                            <td>{{ p.updated }}</td>
                            <td>{% if p.position %}{{ p.position.route|truncatechars:20 }}{% else %}----------{% endif %}</td>
                            <td><a href="{% url 'dashboard:preview_page' p.id %}" target="_blank">{{ p.subject|truncatechars:65 }}</a></td>
                            <td>
                                <a class="label label-success" href="{% url 'dashboard:update_page' p.id %}">Edit</a>
                                <a class="label label-primary" href="{% url 'dashboard:preview_page' p.id %}" target="_blank">Preview</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
