{% extends "dashboard/base.html" %}

{% block main %}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="ghj">Snippets</h3>
                <h2><a class="label label-primary" href="{% url 'dashboard:new_snippet' %}">New</a></h2>
                <br>
                <table class="table table-bordered">
                    <thead>
                        <td>Pub_date</td>
                        <td>Subject</td>
                        <td>Position</td>
                        <td>Content</td>
                        <td>Action</td>
                    </thead>
                    <tbody>
                        {% for s in snippets %}
                        <tr>
                            <td>{{ s.updated }}</td>
                            <td>{{ s.subject|truncatechars:20 }}</td>
                            <td>{% if s.position %}{{ s.position.slug }}{% else %}----------{% endif %}</td>
                            <td>{{ s.content|truncatechars:45 }}</td>
                            <td>
                                <a class="label label-success" href="{% url 'dashboard:new_snippet' %}">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
