{% block style %}
<!-- start-popImage -->
<link href="/static/css/popImage.css" rel='stylesheet' type='text/css' />
<!--end-popImage -->

<!-- start-unslider -->
<style>
  .slider { 
    position: relative; 
    overflow: auto;
  }
  .slider li {
    list-style: none; 
  }
</style>
<!--end-unslider -->
{% endblock %}


{% block content %}
<!--start-what-->
<div class="services">
  <div class="container">
    <div class="services-bottom">
      <div class="slider">
        <ul>
          <li>
            <div class="col-md-12 services-left">
              <a href="/static/images/ch1.jpg" class="image_gall">
                <img src="/static/images/ch1.jpg" alt="" />
              </a>        
            </div>
          </li>
          <li>
            <div class="col-md-12 services-left">
              <a href="/static/images/ch1.jpg" class="image_gall">
                <img src="/static/images/ch1.jpg" alt="" />
              </a>        
            </div>
          </li>

        </ul>
      </div>
      <div class="col-md-12 welcome-left">
        <p>While GLE does have opportunities in Chengdu (the capital city of Sichuan province) and small cities outside of Beijing, the vast majority of our teachers work in Beijing as it’s China’s capital and the best place for expats to live in the country. If you prefer to live in a specific city outside of Beijing, please let us know and we will try to accommodate your request.</p>
        <h4>What is it like to live in Beijing?</h4>
        <p>Beijing is the capital city of China, with a population nearing 20 million people. It is the political and cultural center of the country and by far the most diverse. While retaining the charm and tradition of Chinese society, it also is a true international hub with an extraordinary expat community. Beijing has one of if not the most vibrant expat populations in Asia or the entire world. There are over 200,000 foreign nationals living in Beijing, and for good reason.</p>
        <p>Beijing is comprised of 4 distinct main districts. It truly is a bustling metropolis but at the same time it is not too overwhelming and quite manageable for new arrivals - even those who have never lived in a major city before. The metro system is the easiest way to navigate around this sprawling city at first. Once a seasoned expat, a motorized scooter is a great way to see and explore the city.</p>
        <p>While Beijing has its own cuisine characteristic of northern China; you will have plenty of choice. There are restaurants with specialties from around the country and specific to particular provinces. No matter your taste buds, you can find it in Beijing. There is also an ever-growing list of western restaurants that serve everything from pizza to steak. It can be very important to find the comforts of home and many serve options that are as good if not better than restaurants in the west. Expat life is not limited to food as you can pretty much do anything in Beijing that you would do in your home country. To sum up, if you're craving it, Beijing has it. </p>
        <p>Beijing's nightlife is exciting and unique to say the least, and sets it apart from every other major city in the world, offering endless options, while at the same time being very affordable. You and your friends can take over a KTV suite and sing Frank Sinatra or go dancing at some of the biggest discos in the world. There are bars of all shapes and sizes and even a few speakeasies. Beijing is a late night town that knows no boundaries, there is truly something for everyone no matter what your personality is. Beijing has four distinct seasons and each season has its own festivals and celebrations and special activities. Chinese New Year is something that you'll never forget. The fireworks do not stop!</p>
        <p>Custom and tradition are still widely respected in China as many reminders of China's past are everywhere in and around Beijing. You can spend a day at the Forbidden City where the emperors lived for nearly 1000 years or go visit the amazing parks that are scattered across the city. Many of these parks such as the Summer Palace or Beihai Park used to be the retreats of the emperors. Going boating on the lake with friends is amazing.</p>
        <p>You can easily get lost in hutong neighborhoods - which are some of the most unique residential areas in all of China and of course you're only a quick ride away from the Great Wall. With daily living expenses so low and travel so affordable, your time in Beijing is the perfect opportunity to explore China and the rest of Asia. It might just be the only chance you'll ever have to visit these amazing destinations!</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="services-bottom">
      <div class="slider">
        <ul>
          <li>
            <div class="col-md-4 services-left">
              <a href="/static/images/s-1.jpg" class="image_gall">
                <img src="/static/images/s-1.jpg" alt="" />
              </a>        
            </div>

            <div class="col-md-4 services-left">
              <a href="/static/images/s-2.jpg" class="image_gall">
                <img src="/static/images/s-2.jpg" alt="" />         
              </a>        
            </div>

            <div class="col-md-4 services-left">
              <a href="/static/images/s-3.jpg" class="image_gall">
                <img src="/static/images/s-3.jpg" alt="" /> 
              </a>
            </div>
          </li>
          <li>
            <div class="col-md-4 services-left">
              <a href="/static/images/s-1.jpg" class="image_gall">
                <img src="/static/images/s-1.jpg" alt="" />
              </a>        
            </div>

            <div class="col-md-4 services-left">
              <a href="/static/images/s-2.jpg" class="image_gall">
                <img src="/static/images/s-2.jpg" alt="" />         
              </a>        
            </div>

            <div class="col-md-4 services-left">
              <a href="/static/images/s-3.jpg" class="image_gall">
                <img src="/static/images/s-3.jpg" alt="" /> 
              </a>
            </div>
          </li>
          <li>
            <div class="col-md-4 services-left">
              <a href="/static/images/s-1.jpg" class="image_gall">
                <img src="/static/images/s-1.jpg" alt="" />
              </a>        
            </div>

            <div class="col-md-4 services-left">
              <a href="/static/images/s-2.jpg" class="image_gall">
                <img src="/static/images/s-2.jpg" alt="" />         
              </a>        
            </div>

            <div class="col-md-4 services-left">
              <a href="/static/images/s-3.jpg" class="image_gall">
                <img src="/static/images/s-3.jpg" alt="" /> 
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--end-what-->
{% endblock %}


{% block javascript %}
<!-- start-popImage -->
<script src="/static/js/jquery.popImage.js"></script>
<script>
  $(function(){
    $("a.image_gall").popImage();
  });
</script>
<!--end-popImage -->

<!-- start-unslider -->
<script src="/static/js/unslider.min.js"></script>
<script>
  $(function() {
    $('.slider').unslider({
      speed: 1000,
      delay: 3000,
      complete: function() {},
      keys: true,
      dots: true,
      fluid: false
    });
  });
</script>
<!--end-unslider -->
{% endblock %}
